<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base1 :: Mena">
    <meta charset="UTF-8" />
    <title>Title</title>
 </head>
<body>
<div class="container">
    <div class="jumbotron">

        <nav class="navbar navbar-default" th:replace="base1::navi"> </nav>

        <table class="table table-hover">

            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Friend Zone</th>

            </tr>

            <tr th:each="link : ${status}">

                    <td th:text = "${link.firstName}"></td>
                    <td th:text = "${link.lastName}"></td>
                    <td th:text = "${link.username}"></td>
                    <td><input type="button" th:value="${link.status}" id="myButton" class="btn btn-primary"/>

                    </td>
                   <!--<td th:text = "${#dates.format(mylink.date, 'MMM-dd-yyyy')}"></td>  #dates.format(sprint.releaseDate, 'dd-MMM-yyyy')-->
            </tr>
       </table>

    </div>
</div>
</body>
</html>