<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gallery</title>
<script>
    function incrementValue()
    {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

        var elem = document.getElementById("myButton");
        elem.value = value;
        alert("Total Likes" + value);

</script>
    <th:block th:replace="base1 :: Mena"></th:block>
</head>
<body>
<th:block th:replace="base1 :: navi"></th:block>

<div class="container">
    <br /><br />
    <h1>Comment </h1>

    <td th:utext="${photo.id}" ></td>
        <img th:utext="${photo.image}" />
<br/><br/>

  <form th:action="@{/createcomment}" th:object="${comobj}" method="post">
        <input class="col-xs-4" type="text" th:field="*{commented}" PLACEHOLDER="What Do You think?"/>
      <input type="hidden" th:value="${photo.id}" id="photoid" name="photoid" />
        <button type="submit" class="btn btn-primary">Comment</button>
  </form>
    <form th:action="@{/likeme}" th:object="${liked}" method="post">
       <!-- <input type="button" class="btn btn-primary" onclick="incrementValue()" th:value="${photo.id}" id="photoid" name="photoid" />
       --> <input class="col-xs-4" type="hidden" disabled="disabled" th:value="${photo.id}" id="photoid1" name="photoid" /><br/>
        <button type="submit" class="btn btn-primary" onclick="incrementValue()" th:value="${photo.id}" id="myButton">ThumbsUp</button>
    </form>

    </div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>