<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gallery</title>
<script>
    function incrementValue()
    {
        var value = parseInt(document.getElementById('number').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

</script>
    <th:block th:replace="base1 :: Mena"></th:block>
</head>
<body>
<th:block th:replace="base1 :: navi"></th:block>

<div class="container">
    <br /><br />
    <h1>Comment </h1>
    <a th:href="'/img/' + ${photo.id}" >
        <img th:utext="${photo.image}" /></a>
<br/><br/>


  <form th:action="@{/createcomment}" th:object="${comobj}" method="post">
      <div class="col-xs-4">
        <input class="form-control" type="text" th:field="*{commented}" PLACEHOLDER="What Do You think?"/>
          <input class="form-control" type="hidden" th:value="${photo.id}" id="photoid" name="photoid" /><br/>
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
  </form>
<br/>
    <div class="col-xs-4">

    <form>
        <input type="text" disabled="disabled" id="number" value="0"/>
        <input type="button" class="btn btn-primary" onclick="incrementValue()" value="LIKE ME PLS" />
    </form>
</div>


    <!--<form th:action="@{/createcomment}" th:object="${comobj}" method="post">
        <div class="col-xs-4">
            <input class="form-control" type="hidden" th:value="${photo.id}" id="photoid" name="photoid" /><br/><br/>
            <button type="submit" class="btn btn-primary">Thumb up</button>
        </div>
    </form>-->
    </div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>